<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeo book notes</title>
    <link rel="stylesheet" href="/style/main.css">

</head>
<body>
<div class="wrapper">
    <header>
        <div class="header_con">
            <div class="header_info">
                <h2 class="glow">BOOK NOTES</h2>
                
            </div>
        </div>
    </header>
